#slide-out-left {
  -webkit-animation: slide-out-left 400ms ;
          animation: slide-out-left 400ms ;
}

@-webkit-keyframes slide-out-left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    /* overflow-x: hidden;*/
  }
}

@keyframes slide-out-left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    /* overflow-x: hidden;*/
  }
}

#slide-out-right {
  -webkit-animation: slide-out-right 400ms ;
          animation: slide-out-right 400ms ;
}

@-webkit-keyframes slide-out-right {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /* overflow-x: hidden;*/
  }
}

@keyframes slide-out-right {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /* overflow-x: hidden;*/
  }
}


#slide-in-left {
  -webkit-animation: slide-in-left 400ms ;
          animation: slide-in-left 400ms ;
}

@-webkit-keyframes slide-in-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    /* overflow-x: hidden;*/
  }
}

@keyframes slide-in-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    /* overflow-x: hidden;*/
  }
}

#slide-in-right {
  -webkit-animation: slide-in-right 400ms ;
          animation: slide-in-right 400ms ;
}

@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    /* overflow-x: hidden;*/
  }
}

@keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    /* overflow-x: hidden;*/
  }
}

@keyframes shake {
  0% {
    transform: translateX(20px);
  }

  20% {
    transform: translateX(-20px);
  }

  40% {
    transform: translateX(15px);
  }

  60% {
    transform: translateX(-15px);
  }

  80% {
    transform: translateX(7px);
  }

  100% {
    transform: translateX(-7px);
  }
}
