.profile-figure {
  height: 11em;
  width: 11em;
  margin: 25px auto;
  // margin-top: 25px;
  border-radius: 50%;
  background-size: cover;
}

.profile-figcaption {
  text-align: center;
  font-size: 1.5em;
  color: $text-primary;
}

.mission-statement {
  width: 90%;
  margin: 1.5em auto;
  line-height: 2;
  color: $text-primary;
}

.profile-main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #BCBDC0;
}

.profile-skills-ul {
  padding: 0;
  margin: 30px 50px;
}

.profile-skills-left {
  text-align: right;
}

.profile-skills-li {
  list-style-type: none;
  color: $text-primary;
}

@media (min-width: 600px) {
  .mission-statement {
    width: 70%;
  }
}

@media (min-width: 900px) {
  .mission-statement {
    width: 35em;
  }
}


@media (min-width: 1000px) {
  .about-me-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  header, .profile-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile-main {
    border: none;
    border-left: solid 1px $border-lite;
  }

  .profile-skills-ul {
    padding-left: 20px;
    margin: 0;
    width: 70%;
  }

  .profile-skills-left {
    text-align: left;
  }


  .mission-statement {
    width: 30em;
  }
}
