.about-me-page {
  // position: relative;
  // top: 45px;
}

.profile-figure {
  height: 11em;
  width: 11em;
  margin: 25px auto;
  // margin-top: 25px;
  border-radius: 50%;
  background-size: cover;
}

.profile-figcaption {
  text-align: center;
  // font-weight: bold;
  font-size: 1.5em;
  color: $text-primary;
}

.mission-statement {
  width: 90%;
  margin: 1.5em auto;
  line-height: 2;
  color: $text-primary;
}
