.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $headings;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20em;
  border-bottom: solid 1px $border-lite;
}

.contact-h2 {
  font-size: 2rem;
  width: 12rem;
  margin: 1rem 0 0 0;
}

.my-email {
  color: $primary;
  margin-top: 0;
}

.contact-input {
  width: 15em;
  height: 3em;
  margin-bottom: 15px;
  font-size: 1em;
  outline: none;
  border: none;
  border-bottom: solid 1px $border-lite;
}

.contact-label {
  display: none;
  text-align: left;
  width: 60%;
}

.contact-message {
  height: 18em;
  width: 13em;
  font-size: 1em;
  outline: none;
  border: solid 1px #BCBDC0;
  padding: 20px;
  line-height: 1.4;
  border: solid 1px $border-lite;
}

.contact-submit {
  display: none;
}

.contact-btn {
  width: 60%;
  height: 2.5em;
  margin: 1rem 0;
  color: $primary;
  background: none;
  font-size: 1em;
  border: none;
  border-radius: 2px;
  outline: none;

  &:hover {
    cursor: pointer;
    transition: .5s;
    color: white;
    background: $primary;
  }
}

.confirm-sent-container {
  // opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmation-p {
  font-size: 1em;
  width: 12em;
  margin-bottom: 29em;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shake {
  animation: shake .4s;
}
