.main-header {
  height: 50em;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 70%;
}

.hero-section {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.hero-btn {
  height: 50px;
  width: 150px;
  margin: 0 3%;
  // padding: 20px;
  background: none;
  border: solid 2px $primary;
  border-radius: 2px;
  color: $text-secondary;
  a {
    color: $text-secondary;
  }
}

.resume-btn {
  // color: $text-primary;
  &:hover {
    transition: .5s;
    color: $primary;
    background: $text-secondary;
    border: $text-secondary;
  }
}

.recent-works-btn {
  color: $text-secondary;
  background: $primary;
  &:hover {
    transition: .5s;
    background: $text-secondary;
    a {
      color: $primary;
    }
  }
  // border: solid 2px $text-secondary;
}
