@import '_variables.scss';
@import 'Nav.scss';
@import 'MainPage.scss';
@import 'PortfolioPage.scss';
@import 'AboutMePage.scss';
@import 'ResumePage.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', serif;
  line-height: 1.5;
}

button {
  font-size: 1em;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}
