.nav-component, .nav2-component {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8vh;
  width: 100%;
  // background: $background;
}

.nav-name {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 24%;
  max-width: 15rem;

  p {
    color: #FFF;
    font-weight: 800;
  }

  .title-p {
    font-weight: 100;
    opacity: .6;
    font-size: 13px;
    width: 90%;
    margin: 0 auto;
  }

  &:hover {
    cursor: pointer;
  }

}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav-li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 2rem;
  border-bottom: solid 1px transparent;
  font-size: .9rem;
  a {
    color: #FFF;
    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    transition: .5s;
    border-bottom: solid 1px #FFF;
  }
}

@media(min-width: 700px) {
  .nav-ul {
    width: 70%;
  }
}
@media(min-width: 950px) {
  .nav-ul {
    width: 50%;
  }
}
