.nav-component {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-li {
  padding: 1%;
  margin: 10px;
  list-style-type: none;
}
