.portfolio-page {
  // display: flex;
  background: #F6F6F6;
  padding: 4em 0;
}

.recent-works-heading {
  margin: 0;
  padding-top: 1em;
  font-size: 3em;
  text-align: center;
  background: #F6F6F6;
}

.portfolio-preview {
  height: 30em;
  width: 45em;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  &:hover {
    transition: .5s;
  }
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  height: 0px;
  width: 100%;
  border-top: none;
  p, ul {
    opacity: 0;
  }
}

.icons-ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

.preview-footer {
  transition: height .5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: none;
  height: 100%;
  width: 100%;
  &:hover {
    .footer-content {
      transition: .5s;
      height: 90px;
      p, ul {
        transition-delay: .2s;
        opacity: 1;
      }
    }
  }

}

p {
  margin: 0;
  width: 60%;
  color: $text-primary;
}

.portfolio-icon, .app-label {
  margin: 0 5px;
  color: $primary;
  &:hover {
    cursor: pointer;
  }
}

.portfolio-sides {
  margin: 0;
  padding: 0;
}

.portfolio-side-item {
  // height: 30em;
  // width: 100%;
  // background-size: contain;
  list-style-type: none;
}


@media(min-width: 1200px) {
  .portfolio-page {
    padding: 2em 0;
  }

  .waggle-preview {
    width: 58em;
    height: 34em;
    margin-bottom: 1em;
  }

  .portfolio-sides {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 50%;
    // margin-right: 2%;
  }

  .portfolio-side-item {
    height: 34em;
    width: 70%;
    margin: 0;
    background-size: contain;
    // background-size: cover;
  }

  .beat-the-bands-preview {
    margin-bottom: 2em;
  }

  .preview-footer {
    width: 100%;
  }
}
