.project-page {
  // position: relative;
  // top: 4.5vh;
  // color: #FFF;
  // overflow: hidden;
}

.project-content-container {
  position: relative;
  top: 2.5rem;
  overflow: hidden;
}

.project-heading {
  margin-bottom: 0;
  text-align: center;
  font-size: 2rem;
  color: $primary;
}

.project-slider-component {
  margin-bottom: 1rem;
}

.project-img {
  margin-bottom: 0rem;
  height: 17em;
  width: 24em;
  &:hover {
    cursor: default;
  }
}

.next-btns {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 45rem;
  margin: 0 auto;
  width: 85%;
  // margin-bottom: 2rem;
  // position: absolute;
  // bottom: 320px;
  // left: 7px;
}

.slider-btn-ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  list-style-type: none;
}

.slider-btn-li {
  height: 1rem;
  width: 1rem;
  background: $secondary;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

.icon-arrow {
  color: $secondary;
  font-size: 2rem;
  border: solid 1px;
  border-radius: 50%;
  padding: 3px 5px 3px 5px;
  background: #FFF;
  &:hover {
    cursor: pointer;
  }
}

.project-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  border-left: solid 1px;
  color: $text-primary;
}

.p-project-caption {
  width: 60%;
}

.project-ul, .ul-other-projects {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.project-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 2% 0;
  color: $text-primary;
  list-style-type: none;

  .project-preview-about {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  h3 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    position: relative;
    left: 25px;
    color: $primary;
    text-align: center;
    border-bottom: solid 1px $secondary;
  }

  &:hover {
    cursor: pointer;
  }
}

.about-arrow-icon {
  color: $primary;
  margin: 0 8px;
  position: relative;
  left: 25px;
  font-size: 20px;
}

.project-li:nth-child(2) {
  justify-content: flex-start;
  .project-preview-about {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  h3 {
    left: 0px;
    // right: 25px;
    justify-content: flex-end;
    border-top: solid 1px $secondary;
    border-bottom: none;
  }

  .about-arrow-icon {
    color: $primary;
    margin: 0 8px;
    position: relative;
    left: 0px;
    font-size: 20px;
  }

}

.project-links-ul {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.project-p {
  margin: 0;
  width: 80%;
  color: $text-primary;
  font-size: 1rem;
  line-height: 1.7;
}

#current-image {
  height: 1.3rem;
  width: 1.3rem;
  border: solid 1px #ef515f;
  box-shadow: inset 0 0 0 2px white;
}

@media (min-width: 500px){
  .project-caption {
    width: 80%;
  }
  .p-project-caption {
    width: 70%;
    margin-left: 10px;
  }
}

@media (min-width: 600px) {
  .project-img {
    height: 20em;
    width: 30em;
  }

  .next-btns {
    position: relative;
    bottom: 20vh;
    width: 33rem;
  }

  .project-caption {
    width: 75%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .project-p {
    margin: 0;
    width: 70%;
    color: $text-primary;
    font-size: 1rem;
  }

  .project-links-ul {
    font-size: 17px;
  }
}

@media(min-width: 700px) {
  .project-img {
    height: 25em;
    width: 35em;
  }

  .next-btns {
    bottom: 25vh;
    width: 38rem;
  }
}

@media (min-width: 800px) {
  .project-img {
    height: 25em;
    width: 42em;
  }

  .next-btns {
    bottom: 27vh;
    width: 45rem;
  }

  .project-caption {
    width: 72%;
    margin-left: 20%;
  }

  .project-links-ul {
    width: 25%;
  }
}

@media (min-width: 900px) {
  .project-slider-component {
    margin: 0;
  }
  .next-btns {
    // top: 230px;
    // left: 130px;
  }
}

@media (min-width: 1000px) {
  .project-content-container {
    top: 4.5rem;
  }
}

@media (min-width: 1100px) {
  .project-heading {
    margin-top: 3rem;
  }

  .project-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-img {
    margin-left: 2rem;
  }

  .project-caption {
    width: 35rem;
  }

  .project-ul {
    position: relative;
    bottom: 2rem;
  }

  .project-p {
    margin: 0;
    width: 85%;
    color: $text-primary;
    font-size: .95rem;
    line-height: 1.3;
  }

}

@media (min-width: 1150px) {
  .project-p {
    line-height: 1.5;
    width: 80%;
  }
}

@media (min-width: 1250px) {
  .project-p {
    // line-height: 1.5;
    width: 27rem;
  }
}
