.project-page {
  position: relative;
  top: 4.5vh;
  color: #FFF;
  overflow: hidden;
}

.project-heading {
  margin-bottom: 0;
  text-align: center;
  font-size: 2rem;
  color: $primary;
}

.project-slider-component {
  margin-bottom: 1rem;
}

.project-img {
  margin-bottom: 1rem;
}

.next-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 7rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.slider-btn-ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  list-style-type: none;
}

.slider-btn-li {
  height: 1rem;
  width: 1rem;
  background: $secondary;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

.icon-arrow {
  color: $secondary;
  font-size: 1.5rem;
  &:hover {
    cursor: pointer;
  }
}

.project-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
  margin-top: 2rem;
  border-left: solid 1px;
  // padding-left: 20px;
  color: $text-primary;
}

.project-ul, .ul-other-projects {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.project-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 2% 0;
  color: $text-primary;
  list-style-type: none;

  .project-preview-about {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  h3 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    position: relative;
    left: 25px;
    color: $primary;
    text-align: center;
    border-bottom: solid 1px $secondary;
  }

  &:hover {
    cursor: pointer;
  }
}

.about-arrow-icon {
  color: $primary;
  margin: 0 8px;
  position: relative;
  left: 25px;
  font-size: 20px;
}

.project-li:nth-child(2) {
  justify-content: flex-start;
  .project-preview-about {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  h3 {
    left: 0px;
    // right: 25px;
    justify-content: flex-end;
    border-top: solid 1px $secondary;
    border-bottom: none;
  }

  .about-arrow-icon {
    color: $primary;
    margin: 0 8px;
    position: relative;
    left: 0px;
    font-size: 20px;
  }

}

.project-links-ul {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: center;
}
.project-p {
  margin: 0;
  width: 80%;
  color: $text-primary;
  font-size: 1rem;
  line-height: 1.7;
}

#current-image {
  height: 1.3rem;
  width: 1.3rem;
  border: solid 1px #ef515f;
  box-shadow: inset 0 0 0 3px;
}

@media (min-width: 600px) {
  .project-caption {
    width: 65%;
  }

  .project-p {
    margin: 0;
    width: 70%;
    color: $text-primary;
    font-size: 1rem;
  }
}
@media (min-width: 800px) {
  .project-img {
    height: 25em;
    width: 42em;
  }
}

@media (min-width: 900px) {
  .project-slider-component {
    margin: 0;
  }
}

@media (min-width: 1000px) {
  .project-heading {
    margin-top: 3rem;
  }

  .project-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-img {
    margin-left: 2rem;
  }

  .project-caption {
    width: 35rem;
  }

  .project-ul {
    position: relative;
    bottom: 2rem;
  }

  .project-p {
    margin: 0;
    width: 90%;
    color: $text-primary;
    font-size: .95rem;
    line-height: 1.3;
  }

}

@media (min-width: 1150px) {
  .project-p {
    line-height: 1.5;
    width: 86%;
  }
}

@media (min-width: 1250px) {
  .project-p {
    // line-height: 1.5;
    width: 27rem;
  }
}
