.nav-component, .nav2-component {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8vh;
  width: 100%; }

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 100%;
  padding: 0;
  margin: 0; }

.nav-li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 2rem;
  border-bottom: solid 1px transparent; }
  .nav-li a {
    color: #FFF; }
    .nav-li a:hover {
      cursor: pointer; }
  .nav-li:hover {
    transition: .5s;
    border-bottom: solid 1px #FFF; }

@media (min-width: 700px) {
  .nav-ul {
    width: 70%; } }
@media (min-width: 950px) {
  .nav-ul {
    width: 50%; } }
.connect-nav-component {
  height: 65vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #BCBDC0;
  border-bottom: none; }

.connect-ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0; }

.connect-icon {
  font-size: 4em;
  color: #10B8C7; }

.connect-li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  list-style-type: none; }
  .connect-li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6em;
    width: 6em;
    background: #F5F5F5;
    border-radius: 50%; }
    .connect-li a:hover {
      transition: .5s;
      background: #10B8C7; }
      .connect-li a:hover .connect-icon {
        transition: .5s;
        color: #F5F5F5; }
  .connect-li h3 {
    color: #E83354;
    margin: 0;
    text-align: center;
    line-height: 1.5; }
  .connect-li p {
    width: 50%;
    color: #848184;
    text-align: center;
    font-size: 13px;
    line-height: 1.5; }

@media (min-width: 850px) {
  .connect-nav-component {
    height: 45vh; }

  .connect-li {
    width: 25%; }
    .connect-li p {
      width: 70%; } }
@media (min-width: 1000px) {
  .connect-nav-component {
    height: 40vh;
    border-top: solid 1px #BCBDC0;
    border-bottom: none; } }
@media (min-width: 1200px) {
  .connect-li {
    width: 25%; }
    .connect-li p {
      width: 60%; } }
.main-header {
  height: 50em;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 70%; }

.hero-section {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center; }

.hero-btn {
  height: 50px;
  width: 150px;
  margin: 0 3%;
  background: none;
  border: solid 2px #10B8C7;
  border-radius: 2px;
  color: #E8E8E8; }
  .hero-btn a {
    color: #E8E8E8; }

.resume-btn:hover {
  transition: .5s;
  color: #10B8C7;
  background: #E8E8E8;
  border: #E8E8E8; }

.recent-works-btn {
  color: #E8E8E8;
  background: #10B8C7; }
  .recent-works-btn:hover {
    transition: .5s;
    background: #E8E8E8; }
    .recent-works-btn:hover a {
      color: #10B8C7; }

.portfolio-page {
  background: #F6F6F6;
  padding: 4em 0; }

.recent-works-heading {
  margin: 0;
  padding-top: 1em;
  font-size: 3em;
  text-align: center;
  background: #F6F6F6;
  color: #E83354; }

.portfolio-preview {
  height: 19em;
  width: 30em;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-bottom: 1em; }
  .portfolio-preview:hover {
    transition: .5s;
    cursor: pointer; }

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  height: 0px;
  border-top: none; }
  .footer-content p, .footer-content ul {
    opacity: 0; }

.icons-ul {
  margin: 0;
  padding: 0; }
  .icons-ul li {
    list-style-type: none;
    width: 100%; }

.preview-footer {
  transition: height .5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: none;
  height: 100%; }
  .preview-footer:hover .footer-content {
    transition: .5s;
    height: 90px;
    width: 100%; }
    .preview-footer:hover .footer-content p, .preview-footer:hover .footer-content ul {
      transition-delay: .2s;
      opacity: 1; }

p {
  margin: 0;
  width: 65%;
  color: #555;
  font-size: 12px; }

.portfolio-icon, .app-label {
  margin: 0 5px;
  color: #10B8C7; }
  .portfolio-icon:hover, .app-label:hover {
    cursor: pointer; }

.portfolio-sides {
  margin: 0;
  padding: 0; }

.portfolio-side-item {
  list-style-type: none; }

@media (min-width: 630px) {
  .portfolio-preview {
    height: 23em;
    width: 38em;
    margin-bottom: 3em; }

  p {
    font-size: 1em; } }
@media (min-width: 800px) {
  .portfolio-preview {
    height: 29em;
    width: 48em;
    margin-bottom: 3em;
    background-size: cover; } }
@media (min-width: 1100px) {
  .portfolio-page {
    padding: 2em 0; }

  .portfolio-sides {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }

  .portfolio-side-item {
    height: 22em;
    width: 47%;
    margin: 1em;
    background-size: cover; }

  .beat-the-bands-preview {
    margin-bottom: 2em; }

  .preview-footer {
    width: 100%; } }
@media (min-width: 1300px) {
  .portfolio-side-item {
    height: 25em;
    margin: 1em;
    background-size: cover;
    background-position: center center; } }
.profile-figure {
  height: 11em;
  width: 11em;
  margin: 25px auto;
  border-radius: 50%;
  background-size: cover; }

.profile-figcaption {
  text-align: center;
  font-size: 1.5em;
  color: #555; }

.mission-statement {
  width: 90%;
  margin: 1.5em auto;
  line-height: 2;
  color: #555; }

.profile-main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #BCBDC0; }
  .profile-main h2 {
    color: #E83354; }

.profile-skills-ul {
  padding: 0;
  margin: 30px 50px; }

.profile-skills-left {
  text-align: right; }

.profile-skills-li {
  list-style-type: none;
  color: #555; }

@media (min-width: 600px) {
  .mission-statement {
    width: 70%; } }
@media (min-width: 900px) {
  .mission-statement {
    width: 35em; } }
@media (min-width: 1000px) {
  .about-me-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75vh; }

  header, .profile-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

  .profile-main {
    border: none;
    border-left: solid 1px #BCBDC0; }

  h2 {
    margin: 0;
    margin-bottom: 10px; }

  .profile-skills-ul {
    padding-left: 20px;
    margin: 12px 0;
    width: 70%; }

  .profile-skills-left {
    text-align: left; }

  .mission-statement {
    width: 30em; } }
.resume-figure {
  height: 40em;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 68vw; }

.project-page {
  position: relative;
  top: 4.5vh;
  color: #FFF;
  overflow: hidden; }

.project-heading {
  margin-bottom: 0;
  text-align: center;
  font-size: 2rem;
  color: #10B8C7; }

.project-slider-component {
  margin-bottom: 1rem; }

.project-img {
  margin-bottom: 1rem; }

.next-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 7rem;
  margin: 0 auto;
  margin-bottom: 1rem; }

.slider-btn-ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  list-style-type: none; }

.slider-btn-li {
  height: 1rem;
  width: 1rem;
  background: #E83354;
  border-radius: 50%; }
  .slider-btn-li:hover {
    cursor: pointer; }

.icon-arrow {
  color: #E83354;
  font-size: 1.5rem; }
  .icon-arrow:hover {
    cursor: pointer; }

.project-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
  margin-top: 2rem;
  border-left: solid 1px;
  color: #555; }

.project-ul, .ul-other-projects {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto; }

.project-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 2% 0;
  color: #555;
  list-style-type: none; }
  .project-li .project-preview-about {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%; }
  .project-li h3 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    position: relative;
    left: 25px;
    color: #10B8C7;
    text-align: center;
    border-bottom: solid 1px #E83354; }
  .project-li:hover {
    cursor: pointer; }

.about-arrow-icon {
  color: #10B8C7;
  margin: 0 8px;
  position: relative;
  left: 25px;
  font-size: 20px; }

.project-li:nth-child(2) {
  justify-content: flex-start; }
  .project-li:nth-child(2) .project-preview-about {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .project-li:nth-child(2) h3 {
    left: 0px;
    justify-content: flex-end;
    border-top: solid 1px #E83354;
    border-bottom: none; }
  .project-li:nth-child(2) .about-arrow-icon {
    color: #10B8C7;
    margin: 0 8px;
    position: relative;
    left: 0px;
    font-size: 20px; }

.project-links-ul {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: center; }

.project-p {
  margin: 0;
  width: 80%;
  color: #555;
  font-size: 1rem;
  line-height: 1.7; }

#current-image {
  height: 1.3rem;
  width: 1.3rem;
  border: solid 1px #ef515f;
  box-shadow: inset 0 0 0 3px; }

@media (min-width: 600px) {
  .project-caption {
    width: 65%; }

  .project-p {
    margin: 0;
    width: 70%;
    color: #555;
    font-size: 1rem; } }
@media (min-width: 800px) {
  .project-img {
    height: 25em;
    width: 42em; } }
@media (min-width: 900px) {
  .project-slider-component {
    margin: 0; } }
@media (min-width: 1000px) {
  .project-heading {
    margin-top: 3rem; }

  .project-content-container {
    display: flex;
    align-items: center;
    justify-content: center; }

  .project-img {
    margin-left: 2rem; }

  .project-caption {
    width: 35rem; }

  .project-ul {
    position: relative;
    bottom: 2rem; }

  .project-p {
    margin: 0;
    width: 90%;
    color: #555;
    font-size: .95rem;
    line-height: 1.3; } }
@media (min-width: 1150px) {
  .project-p {
    line-height: 1.5;
    width: 86%; } }
@media (min-width: 1250px) {
  .project-p {
    width: 27rem; } }
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93vh;
  color: #E83354; }

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20em;
  border-bottom: solid 1px #BCBDC0; }

.contact-h2 {
  font-size: 2em;
  width: 6em;
  margin: 35px 0 0 0; }

.my-email {
  color: #10B8C7;
  margin-top: 0; }

.contact-input {
  width: 15em;
  height: 3em;
  margin-bottom: 15px;
  font-size: 1em;
  outline: none;
  border: none;
  border-bottom: solid 1px #BCBDC0; }

.contact-label {
  display: none;
  text-align: left;
  width: 60%; }

.contact-message {
  height: 18em;
  width: 13em;
  font-size: 1em;
  outline: none;
  border: solid 1px #BCBDC0;
  padding: 20px;
  line-height: 1.4;
  border: solid 1px #BCBDC0; }

.contact-submit {
  display: none; }

.contact-btn {
  width: 60%;
  height: 2.5em;
  margin: .5em 0 0 0;
  color: #10B8C7;
  background: none;
  font-size: 1em;
  border: none;
  border-radius: 2px;
  outline: none; }
  .contact-btn:hover {
    cursor: pointer;
    transition: .5s;
    color: white;
    background: #10B8C7; }

.confirm-sent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.confirmation-p {
  font-size: 1em;
  width: 12em;
  margin-bottom: 29em; }

#slide-out-left {
  -webkit-animation: slide-out-left 500ms;
  animation: slide-out-left 500ms; }

@-webkit-keyframes slide-out-left {
  from {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    /* overflow-x: hidden;*/ } }
@keyframes slide-out-left {
  from {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    /* overflow-x: hidden;*/ } }
#slide-out-right {
  -webkit-animation: slide-out-right 500ms;
  animation: slide-out-right 500ms; }

@-webkit-keyframes slide-out-right {
  from {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* overflow-x: hidden;*/ } }
@keyframes slide-out-right {
  from {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* overflow-x: hidden;*/ } }
#slide-in-left {
  -webkit-animation: slide-in-left 500ms;
  animation: slide-in-left 500ms; }

@-webkit-keyframes slide-in-left {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /* overflow-x: hidden;*/ } }
@keyframes slide-in-left {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /* overflow-x: hidden;*/ } }
#slide-in-right {
  -webkit-animation: slide-in-right 500ms;
  animation: slide-in-right 500ms; }

@-webkit-keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /* overflow-x: hidden;*/ } }
@keyframes slide-in-right {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /* overflow-x: hidden;*/ } }
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', serif;
  line-height: 1.5; }

button {
  font-size: 1em;
  outline: none; }
  button:hover {
    cursor: pointer; }

a {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
